*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
.full_width{
  width: 100%;
}

.text-color-white{
  color: white;
}
.text-color-orang{
  color: rgb(247,124,0);
}

.text-color-gray{
  color: rgb(149, 149, 149);
}
.overlay{
  background-color: #01040957;
}
.ul-links{
  list-style: none;
}
a{
  text-decoration: none;
}
.uper-case{
  text-transform: uppercase;
}
.line-hight{
  line-height: 1.5;
 
}
.hr-style{
  width:10% ;
  margin: 20px 0px;
}
.text-center{
  text-align: center;
}

.back-color-gray{
  background-color:#d3d3d3;
}
.back-color-white{
  background-color: rgb(255, 255, 255);
}
.back-color-orange{
  background-color:  rgb(247,124,0);
}
.back-color-black{
  
  background-color: black;

}
.shadow-card{
  box-shadow: 0px 0px 50px -25px rgb(64, 63, 63);
  border-radius: 5px;
 
}
.mideam-width{
  width: 50%;
}
/* globle*/

.continer{
  width:80%;
  margin: auto;
}
nav{
  background-color: #010409;
  position: sticky;
  top: 0;
}
.float-lift{
  float: left;

}
 .float-right
 {
   float: right;
   
 }
 .inlin-block{
  display: inline-block;
 }
 .clear{
  clear: both;
 }
 li.lift{
  margin-left:20px ;
  padding: 2px 0px;
 }
 
 ul{
  margin-top:20px ;
 }
.head-font{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
  padding:5px ;
}

/* section2 in project */
.costum-pad{
  padding:50px 0px;

}
.back-img{
  background-image: url(imge/header-bg1.jpg);
  width: 100%;
  background-repeat:repeat;  
  background-size:cover;
  
 
   
}
.custom-float-right{
  margin-top: 20px;
}
.ax-continer{
width: 40%;
}
.costum-ax-continer{
  width:60%;
  padding-top:30px;
}

.btu-style{
  width: 30%;
  margin:25px 0px;
  padding: 8px;
  border: none;
   font-size: large;
   border-radius: 3px;   
}
.cust-button{
   border: 2px solid rgb(255, 255, 255);
   background-color: transparent;
}
 input{
  width: 80%;
  margin: 10px 10%;
  border-bottom:2px solid rgb(170, 166, 166) ;
  border-top:none ;
  border-left:none ;
  border-right: none;
  padding: 5px;
  background-color: white;
 

 }
 .cous-input{
  margin-top: 20px;
 }
 .costum-btu-style{
  text-align: center;
  padding: 8px;
  margin:10px 0px 0px;
  display: block;
  border: none;
 }
 .costum-width{
  width: 30%;
 }
 .i-font{
  font-size: 27px;
 }
 
 .custom-lift{
  margin-left: 8%;
 }
 .costum-width-tap{
 width: 10%;
 margin: 5%  0%;
 border-bottom:2px solid rgb(170, 166, 166)
 }
 .style-tab
 {
  padding:40Px 5px;
  border-bottom:2px solid rgb(244, 243, 243)
 }
 .back-tab-color
 {
  background-color: rgba(4, 4, 4, 0.684);

 }
 .custom-float-right-pading{
  padding: 80px;
  margin-bottom:20px;
 }
 .reflacting-img{
   -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
   width: 100%;
  
}
.img-posation{
  margin:10% 0%;
  width:40%;
  height: 100%;
  border-radius: 5px;

}
.posation-div{
   margin:9% 0%;
   width: 50%;
}
.costum-hr-style{
  border: 1px solid orangered;
  width: 5%;
  border-radius: 5px;
  
}
.border-icon{
  margin-top: 20px;
 width: 40px;
 height: 40px;
  border:2px solid rgb(247,124,0) ;
  border-radius: 50%;
  line-height: 2;
  font-size: 20px;
  padding: 1%;
}
.costum-madil-width{
  width: 75%;
  padding: 15px;
}
.pading{
  padding:10% 0px;
}
.coustom-width{
  width: 9%;
  margin: 20px 45% ;
  
}
.coustom-head-font{
  font-size: 33px;
}

.costum-i{
  font-size: 40px;
  width: 70px;
  height: 70px;
  color: #f77c00 ;
  border: 2px solid #f77c00;
  border-radius: 50%;
  text-align: center;
  padding: 15px 0px ;
  margin-left: 40%;
   
}
.costum-continer{
  width: 31%;
  margin-bottom: 50px;
  margin-left: 15px;
}
.i-div{
 width: 100%;
  padding: 0;
  margin-top: 0px;
  
}
.card-bricing-bas{
  background-color: #010409;
  padding:20px 10% ;
}
.font-pricing{
  font-size: 60px;
}
.costum-pading{
   padding:10px ;
}
.card-bottom-border{
  border-bottom: 1px solid lightgrey;
}

.cos-card-bot-border{
  border-bottom: 5px solid #fea500;
}

.costum-continer-card{
  width: 28%;
  margin-left: 40px;
  margin-bottom: 50px;
}
.triangle{
  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 15px solid #d3d3d3;
  position: absolute;
  top: 100%;
  left: 35px;
}
.costum-card-pading{
  margin-top:42px;
}
.card-message{
  border-radius: 5px;
  position: relative;
}
.message-icon{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 20px 0px;
}
 .margin-name-user{
  margin: 30px 0px;
 }
.cus-hr-st-col{
  border:1px solid white;
  border-radius: 5px;
}
.btu-pad-mar{
  margin: 90px 0px;
  padding: 10px 0px;
  width:15% ;
}

#area{
  margin: 5px 0px 5px 120px;
  border: none;
  background-color: white;
}
.costum-margin-contact{
  margin-bottom: 50px;
}
.custom-btu-cont{
  margin: 20px 42% 50px 42%;
  width: 15%;
}
.madia{
  margin:40px 18% 10px 18% ;
}
#fott{
  margin-top: 0px;
}

#go-up{
  position: fixed;
  bottom: 15%;
  right: 10px;
  font-size: 40px;
  color: #f77c00;
  border-radius: 50%;
  background-color: white;
}
ul li a:hover{
  color: #f77c00;
}